.text-colr {
  background: linear-gradient(35deg, rgb(191, 78, 244), rgb(98, 20, 167));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

body {
  background-image: url("./assets/background-photo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
